.input {
  &__field {

  }

  &__label {
    display: block;
  }
}

@mixin container {
  padding: 0 5.555vw;

  @media screen and (min-width: 1992px) {
    padding: 0 14.555vw;
  }

  @media screen and (max-width: 922px) {
    padding: 0 4.166vw;
  }

  @media screen and (max-width: 768px) {
    padding: 0 6.666vw;
  }
}

@mixin ease-margins {
  transition: all 540ms ease, margin 340ms ease;
}

.container {
  @include container;
  @include ease-margins;
}

.ease-margins {
  @include ease-margins;
}
