$color-black: black;
$color-gray: rgb(224, 224, 224);
$material-box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
$typical-transition: 150ms ease-in-out;

.input {
  &__field {

  }

  &__label {
    display: block;
  }
}

@mixin container {
  padding: 0 5.555vw;

  @media screen and (min-width: 1992px) {
    padding: 0 14.555vw;
  }

  @media screen and (max-width: 922px) {
    padding: 0 4.166vw;
  }

  @media screen and (max-width: 768px) {
    padding: 0 6.666vw;
  }
}

@mixin ease-margins {
  transition: all 540ms ease, margin 340ms ease;
}

.container {
  @include container;
  @include ease-margins;
}

.ease-margins {
  @include ease-margins;
}
